.profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}


.profile > div {
  display: flex;
  flex-direction: column;
}
.profile strong {
  color: var(--gray-100);
  font-weight: 700;
  line-height: 2.6rem;
}

.profile span {
  color: var(--gray-400);
  font-size: 1.4rem;
  line-height: 2.2rem;
}
