.profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.profile.column {
  flex-direction: column;
  text-align: center;
}

.userInfo > strong {
  display: block;
  font-weight: 700;
  line-height: 2.6rem;
}
.userInfo > span {
  display: block;
  color: var(--gray-400);
  font-size: 1.4rem;
  line-height: 2.2rem;
}
