.comment {
  display: flex;
  gap: 1.6rem;
}

.comment:first-child {
  margin-top: 3.2rem;
}

.comment + .comment {
  margin-top: 2.4rem;
}

.wrapper {
  flex: 1;
}

.commentBox {
  background-color: var(--gray-700);
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  border-radius: 8px;
}

.commentBox > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.commentBox > header > button {
  color: var(--gray-400);
  background-color: transparent;

  cursor: pointer;
  border: none;
}

.commentBox > header > button:hover,
.commentBox > header > button:focus {
  color: var(--red);
}

.commentBox > header > button > svg {
  width: 2.4rem;
  height: 2.4rem;
}

.commentBox > p {
  font-size: 1.4rem;
  color: var(--gray-300);
  margin-top: 1.6rem;
  line-height: 2.2rem;
}

.authorAndTimer {
  display: flex;
  flex-direction: column;
}

.authorAndTimer > strong {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.2rem;
}
.authorAndTimer > time {
  font-size: 1.2rem;
  color: var(--gray-400);
  line-height: 1.9rem;
}

.wrapper > footer > button {
  color: var(--gray-400);
  font-size: 1.4rem;
  font-weight: 700;

  background-color: transparent;
  display: flex;
  align-items: center;

  box-shadow: none;
  border: none;
  cursor: pointer;
}

.wrapper > footer > button:hover,
.wrapper > footer > button:focus-visible {
  color: var(--gray-100);
  box-shadow: none;
}

.wrapper > footer > button:active {
  color: var(--green-300);
}

.wrapper > footer > button > svg {
  display: inline-block;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.wrapper > footer > button > span::before {
  content: "\2022";
  padding: 0 0.4rem;
}
