.sidebar {
  background-color: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.sidebar > img {
  height: 7.2rem;
  width: 100%;
  object-fit: cover;
}

.sidebar > div {
  margin-top: -3rem;
}

.sidebar > footer {
  margin-top: 2.4rem;
  padding: 2.4rem 3.2rem 3.2rem;
  border-top: 1px solid var(--gray-600);
}

.sidebar > footer > a {
  color: var(--green-300);
  font-weight: 700;
  cursor: pointer;

  width: 100%;
  height: 5rem;
  border: 1px solid var(--green-300);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  transition: background-color 200ms;
  text-decoration: navajowhite;
}
.sidebar > footer > a:hover,
.sidebar > footer > a:focus {
  background-color: var(--green-500);
  color: var(--white);
  border-color: var(--green-500);
  box-shadow: none;
}

.sidebar > footer > a > svg {
  width: 2rem;
  height: 2rem;
}
