.post {
  background-color: var(--gray-800);
  padding: 4rem;
  border-radius: 8px;
}

.post + .post {
  margin-top: 3.2rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header > time {
  color: var(--gray-400);
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.content {
  line-height: 2.6rem;
  margin: 2.4rem 0;
}

.content p {
  margin-top: 1.6rem;
}

.content a {
  color: var(--green-500);
  font-weight: 700;
  line-height: 2.6rem;
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--gray-600);
  padding-top: 2.4rem;
}

.form > label {
  color: var(--gray-100);
  font-weight: 700;
  line-height: 2.6rem;
}

.form > textarea {
  color: var(--gray-300);
  background-color: var(--gray-900);

  padding: 1.3rem 1.6rem;
  border-radius: 8px;
  height: 9.6rem;

  outline: none;
  border: 1px solid transparent;
  resize: none;
  margin-top: 1.6rem;
}

.form > textarea::placeholder {
  color: var(--gray-500);
}

.form > footer {
  visibility: hidden;
  max-height: 0px;
}

.form:focus-within footer {  /* Quando qualquer elemento dentro do form tiver com focus */
  visibility: visible;
  max-height: none;
}

.form button[type='submit'] {
  color: var(--white);
  background-color: var(--green-500);
  font-weight: 700;
  line-height: 1.9rem;

  width: 10.8rem;
  height: 4.9rem;
  margin-top: 1.6rem;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 100ms;
}

.form button[type='submit']:hover {
  background-color: var(--green-300);
}

.form button[type='submit']:focus {
  box-shadow: none;
  background-color: var(--green-300);
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.comments:has(div) {
  margin-top: 3.2rem;
}
