.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 4rem;
}

.post + .post {
  margin-top: 3.2rem;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postInfo > time {
  font-size: 1.4rem;
  color: var(--gray-400);
}
.content {
  margin: 2.4rem 0;
}

.content > p + p {
  margin-top: 1.6rem;
}

.content > p {
  line-height: 2.6rem;
}

.content > p > a {
  color: var(--green-500);
  font-weight: 700;
  text-decoration: none;
}
.content > p > a:hover {
  color: var(--green-300);
}

.form {
  border-top: 1px solid var(--gray-600);
  padding-top: 2.4rem;
}

.form > label {
  font-weight: 700;
}

.form > textarea {
  background-color: var(--gray-900);
  color: var(--gray-300);
  border: none;
  line-height: 2.2rem;
  display: block;

  width: 100%;
  min-height: 9.6rem;
  margin-top: 1.6rem;
  padding: 1.3rem 1.6rem;
  border-radius: 8px;

  resize: none;
}

.form > textarea::placeholder {
  color: var(--gray-500);
}

.form > footer {
  visibility: hidden;
  max-height: 0px;
}

.form:focus-within footer {
  /* Quando qualquer elemento dentro do form tiver com focus */
  visibility: visible;
  max-height: none;
}

.form > footer > button {
  background-color: var(--green-500);
  color: var(--white);
  font-weight: 700;

  margin-top: 1.6rem;
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  transition: background-color 200ms;

  border: none;
  cursor: pointer;
  box-shadow: none;
}

.form > footer > button:not(:disabled):hover,
.form > footer > button:not(:disabled):focus {
  background-color: var(--green-300);
}

.form > footer > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
