.wrapper {
  width: min(98%, 112rem);
  margin: 3.2rem auto;

  display: grid;
  grid-template-columns: 25.6rem 1fr;
  align-items: flex-start;
  gap: 3.2rem;
}

@media (max-width: 768px) {
  :root {
    font-size: 56.25%; 
  }


  .wrapper {
    grid-template-columns: 1fr;
    width: min(90%, 112rem);
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 43.75%; 
  }


  .wrapper {
    grid-template-columns: 1fr;
    width: 90%;
  }
}


/* 
 16 --> 100%
 10 - x

 10*100/16 = 62.5%

 16 --> 100%
 7 --> x
 7*100/16 = 43.75%

*/
